// голубенький
$blue: #3487bf;
// оранжевенький
$orange: #de8c33;

// наиболее всречающийся шрифт заголовка
$title-font: 'gagalin';

//переменные
$phones: 560px;
$tablets: 768px;
$laptop: 992px;
$desktop: 1200px;